
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    
   
}


.logoFont {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.interFont {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}


@media only screen and (min-width:901px) {
    /* Scrollbar css */
 
 ::-webkit-scrollbar {
   width: 12px;
   height: 2px;
 }
 
 ::-webkit-scrollbar-track {
   background-color: #e0e0e0;
 }
 
 ::-webkit-scrollbar-thumb {
   background-color: #bebebe;
 }
 
 ::-webkit-scrollbar-thumb:hover{
   background-color: #999;
 }
 }
 
 @media only screen and (max-width:1198px) {
   .loginImageSection, .summaryGrid {
     display: none !important;
   }
  
 }
 
 /* Loader css */
 /* HTML: <div class="loader"></div> */
 /* HTML: <div class="loader"></div> */
 .loader {
   width: 100px;
   padding: 5px;
   aspect-ratio: 1;
   border-radius: 50%;
   background: #326e36;
   --_m: 
     conic-gradient(#0000 10%,#000),
     linear-gradient(#000 0 0) content-box;
   -webkit-mask: var(--_m);
           mask: var(--_m);
   -webkit-mask-composite: source-out;
           mask-composite: subtract;
   animation: l3 1.2s infinite linear;
 }
 @keyframes l3 {to{transform: rotate(1turn)}}
 
 
 /* loader 2 */
 /* HTML: <div class="loader"></div> */
 .loader-two {
   width: 90px;
   height: 14px;
   box-shadow: 0 3px 0 #326e36;
   position: relative;
   clip-path: inset(-40px 0 -5px);
 }
 .loader-two:before {
   content: "";
   position: absolute;
   inset: auto calc(50% - 17px) 0;
   height: 50px;
   --g:no-repeat linear-gradient(#326e36 0 0);
   background: var(--g),var(--g),var(--g),var(--g);
   background-size: 16px 14px;
   animation:
     l7-1 2s infinite linear,
     l7-2 2s infinite linear;
 }
 @keyframes l7-1 {
   0%,
   100%  {background-position: 0 -50px,100% -50px}
   17.5% {background-position: 0 100%,100% -50px,0 -50px,100% -50px}
   35%   {background-position: 0 100%,100% 100% ,0 -50px,100% -50px}
   52.5% {background-position: 0 100%,100% 100% ,0 calc(100% - 16px),100% -50px}
   70%,
   98%  {background-position: 0 100%,100% 100% ,0 calc(100% - 16px),100% calc(100% - 16px)}
 }
 @keyframes l7-2 {
   0%,70% {transform:translate(0)}
   100%  {transform:translate(200%)}
 }
 
 
 /* input fields filled light blue color in mui TextFields */
 input:-webkit-autofill,
 input:-webkit-autofill:hover, 
 input:-webkit-autofill:focus, 
 input:-webkit-autofill:active{
     -webkit-box-shadow: 0 0 0 30px #e3f2fd inset !important;
     
 }
 
 input:-webkit-autofill,
 .MuiInputBase-root:has(> input:-webkit-autofill) {
   background-color: #e3f2fd !important;
   
   
 }
  
